
 <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4">Flight Booking System</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a routerLink="/home" href="#" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a  routerLink="/about" href="#" class="nav-link">About</a></li>
        <li class="nav-item"><a  routerLink="/flightbooking" href="#" class="nav-link">Book Flight</a></li>
        <!-- <li class="nav-item"><a  routerLink="/register" href="#" class="nav-link">Registration Form</a></li>
        <li class="nav-item"><a  routerLink="/counter" href="#" class="nav-link">Counter</a></li> -->
        <li class="nav-item"><a  routerLink="/addflight" href="#" class="nav-link">Add Flight</a></li>
        <!-- <li class="nav-item"><a  routerLink="/registerflight" href="#" class="nav-link">flight register</a></li> -->
        <li class="nav-item"><a  routerLink="/user/searchflight" href="#" class="nav-link">Search Flight</a></li>
        <li class="nav-item"><a  routerLink="/searchticket" href="#" class="nav-link">Search Ticket</a></li>
        <li class="nav-item"><a  routerLink="/admin/login" href="#" class="nav-link">Login</a></li>
        <!-- <li class="nav-item"><a  routerLink="/flightUpdate" href="#" class="nav-link">flight update</a></li> -->
      </ul>
    </header>
  </div>

  <!-- <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</a>
    </li>
  </ul> -->
  <!-- <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">...</div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
  </div> -->