<p>validcomponenet works!</p>
<form>
  <div class="mb-3 row">
    <label>Email</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" name="username" placeholder="enter your email">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-6">
      <input type="password" class="form-control" placeholder="enter your password" name="inputPassword">
    </div>
    <div class="col-sm-4">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  </div>
</form>